title: 得意忘形
description: Published writings from memory.
url: "https://algonous.github.io"
baseurl: "/blog"
markdown: kramdown
plugins:
  - jekyll-feed
defaults:
  - scope:
      path: ""
      type: posts
    values:
      layout: post
